.GWH1 {
  text-align: center;
  margin-top: 100px;
}

p {
  line-height: 1.5;
}

h2 {
  text-align: center;
  line-height: 1.5;
}
.styletile {
  padding: 40px;
}
.kt {
  display: grid;
  padding-bottom: 35px;
  grid-template-columns: 1fr;
  margin: 25px;
  padding: 25px;
}

@media screen and (max-width: 580px) {
  .kt {
    display: grid;
    padding-bottom: 35px;
    grid-template-columns: 1fr;
    margin: 25px;
    padding: 25px;
  }
  .styletile {
    padding: 10px;
  }
}
